<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customerRepository" class="com.pluralsight.repository.HibernateCustomerRepositoryImpl" />

    <!--This is for setter injecttion configuration, needs a setter in CustomerServiceImpl-->
    <!--<bean name="customerService" class="CustomerServiceImpl">-->
        <!--<property name="customerRepository" ref="customerRepository"></property>-->
    <!--</bean>-->

    <!--<bean name="customerService" class="CustomerServiceImpl">-->
        <!--<constructor-arg index="0" ref="customerRepository"></constructor-arg>-->
    <!--</bean>-->

    <!--<bean name="customerService" class="CustomerServiceImpl" autowire="constructor">-->
    <!--</bean>-->

    <!--autowire byType need a default constructor and a setter-->
    <bean name="customerService" class="com.pluralsight.service.CustomerServiceImpl" autowire="byType" scope="prototype">
    </bean>

    <!--<bean name="customerService" class="CustomerServiceImpl" autowire="byName">-->
    <!--</bean>-->
</beans>